.contest{
    width: 50%;
}

.contest-image{
    width: 1900px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.contest-msg{
    color: #FFA500;
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    right: 10%;
    transform: translate(-50%, -50%)
   
}
.event{
    align-items: center;
    justify-content: center;
   
}

.evvent .contest-details{
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    
}

.event-sub-heading{
    align-items: center;
    text-align: center;
    top: 65%;
    left: 50%;
    right: 10%;
   
}